@font-face {
    font-family: 'Corporate-A';
    src: url('../fonts/CorporateA-Regular.eot');
    src: url('../fonts/CorporateA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateA-Regular.woff2') format('woff2'),
        url('../fonts/CorporateA-Regular.woff') format('woff'),
        url('../fonts/CorporateA-Regular.ttf') format('truetype'),
        url('../fonts/CorporateA-Regular.svg#CorporateA-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-A';
    src: url('../fonts/CorporateA-Bold.eot');
    src: url('../fonts/CorporateA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateA-Bold.woff2') format('woff2'),
        url('../fonts/CorporateA-Bold.woff') format('woff'),
        url('../fonts/CorporateA-Bold.ttf') format('truetype'),
        url('../fonts/CorporateA-Bold.svg#CorporateA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-A-Condensed';
    src: url('../fonts/CorporateACon-Reg.eot');
    src: url('../fonts/CorporateACon-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateACon-Reg.woff2') format('woff2'),
        url('../fonts/CorporateACon-Reg.woff') format('woff'),
        url('../fonts/CorporateACon-Reg.ttf') format('truetype'),
        url('../fonts/CorporateACon-Reg.svg#CorporateACon-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-A-Cond-Pro';
    src: url('../fonts/CorporateACondPro-Regular.eot');
    src: url('../fonts/CorporateACondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateACondPro-Regular.woff2') format('woff2'),
        url('../fonts/CorporateACondPro-Regular.woff') format('woff'),
        url('../fonts/CorporateACondPro-Regular.ttf') format('truetype'),
        url('../fonts/CorporateACondPro-Regular.svg#CorporateACondPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S-BQ';
    src: url('../fonts/CorporateSBQ-Light.eot');
    src: url('../fonts/CorporateSBQ-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateSBQ-Light.woff2') format('woff2'),
        url('../fonts/CorporateSBQ-Light.woff') format('woff'),
        url('../fonts/CorporateSBQ-Light.ttf') format('truetype'),
        url('../fonts/CorporateSBQ-Light.svg#CorporateSBQ-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S';
    src: url('../fonts/CorporateS-Light.eot');
    src: url('../fonts/CorporateS-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateS-Light.woff2') format('woff2'),
        url('../fonts/CorporateS-Light.woff') format('woff'),
        url('../fonts/CorporateS-Light.ttf') format('truetype'),
        url('../fonts/CorporateS-Light.svg#CorporateS-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S';
    src: url('../fonts/CorporateS-Bold.eot');
    src: url('../fonts/CorporateS-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateS-Bold.woff2') format('woff2'),
        url('../fonts/CorporateS-Bold.woff') format('woff'),
        url('../fonts/CorporateS-Bold.ttf') format('truetype'),
        url('../fonts/CorporateS-Bold.svg#CorporateS-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S-Pro';
    src: url('../fonts/CorporateSPro-Light.eot');
    src: url('../fonts/CorporateSPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateSPro-Light.woff2') format('woff2'),
        url('../fonts/CorporateSPro-Light.woff') format('woff'),
        url('../fonts/CorporateSPro-Light.ttf') format('truetype'),
        url('../fonts/CorporateSPro-Light.svg#CorporateSPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S-Pro';
    src: url('../fonts/CorporateSPro-Demi.eot');
    src: url('../fonts/CorporateSPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateSPro-Demi.woff2') format('woff2'),
        url('../fonts/CorporateSPro-Demi.woff') format('woff'),
        url('../fonts/CorporateSPro-Demi.ttf') format('truetype'),
        url('../fonts/CorporateSPro-Demi.svg#CorporateSPro-Demi') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate-S-Pro';
    src: url('../fonts/CorporateSPro-Regular.eot');
    src: url('../fonts/CorporateSPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CorporateSPro-Regular.woff2') format('woff2'),
        url('../fonts/CorporateSPro-Regular.woff') format('woff'),
        url('../fonts/CorporateSPro-Regular.ttf') format('truetype'),
        url('../fonts/CorporateSPro-Regular.svg#CorporateSPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}