$c-white: #fff;
$c-black: #000;
$c-grey-1: #9d9d9d;
$c-grey-2: #262626;
$c-grey-3: #3d3d3d;
$c-grey-4: #787676;
$c-grey-5: #313131;
$c-grey-6: #7d7b7b;
$c-blue-1: #1db2eb;

$media-lg: 'screen and (min-width: 992px);';
$media-xl: 'screen and (min-width: 1200px);'