@import "./reset";
@import "./utils";
@import "./fonts";
@import "./slick";
@import "./slick-theme";

body {
    font-family: sans-serif;
    line-height: 1.2;
    background-color: $c-white;

    &.no-scroll {
        overflow: hidden;
    }
}

br {
    &.desktop {
        display: none;

        @media #{$media-lg} {
            display: initial;
        }
    }

    &.mobile {
        @media #{$media-lg} {
            display: none;
        }
    }
}

main {
    width: 100%;
    padding-top: 156px;
    overflow: hidden;

    @media #{$media-lg} {
        padding-top: 137px;
    }
}

.container {
    width: 100%;
    max-width: 1178px;
    padding: 0;
    position: static;
    margin: 0 auto;
}

.sectionTitle {
    position: relative;
    font-family: "Corporate-A-Cond-Pro";
    font-weight: normal;
    font-size: 70px;
    line-height: 0.9;
    text-transform: uppercase;

    @media #{$media-lg} {
        font-size: 41px;
    }

    &::after {
        content: "";
        display: block;
        width: 78px;
        height: 5px;
        position: absolute;
        bottom: -20px;
        left: 0;
        background-color: $c-blue-1;
    }

    &.light {
        color: $c-white;
    }
}

.mainHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: $c-black;

    .mainHeader-topbar {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 156px;
        padding: 18px 36px;

        @media #{$media-lg} {
            height: auto;
            padding: 15px 0;
            border-bottom: 1px solid $c-grey-2;
        }

        .mainHeader-topbar-logo {
            width: 100%;
            max-width: 258px;

            @media #{$media-lg} {
                max-width: 208px;
            }

            img {
                width: 100%;
            }
        }

        .mainHeader-topbar-action {
            width: 51px;
            height: 36px;
            padding: 0;
            border: 0;
            margin-bottom: 22px;
            background-color: transparent;
            background-image: url("../images/icon-burger.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @media #{$media-lg} {
                display: none;
            }

            &.active {
                width: 43px;
                height: 44px;
                background-image: url("../images/icon-close.png");
            }
        }
    }

    .mainHeader-menu {
        width: 100%;
        max-height: calc(100vh - 156px);
        position: absolute;
        top: 156px;
        left: 100%;
        color: $c-white;
        overflow-y: scroll;
        transition: left 0.5s ease-in-out;

        @media #{$media-lg} {
            position: static;
            overflow: auto;
        }

        &.active {
            left: 0%;
        }

        .title {
            font-family: "Corporate-A";
            font-weight: 300;
            font-size: 50px;

            @media #{$media-lg} {
                display: none;
            }

            &::after {
                width: 104px;
                height: 12px;
                bottom: -27px;
            }
        }

        .mainHeader-menu-arocs {
            padding: 56px 64px 116px;
            font-family: "Corporate-S-Pro";
            font-weight: normal;
            font-size: 35px;
            background-color: $c-black;

            @media #{$media-lg} {
                display: flex;
                align-items: center;
                padding: 14px 0;
                font-size: 14px;
            }

            > li {
                text-transform: uppercase;
                cursor: pointer;

                @media #{$media-lg} {
                    text-transform: none;
                }

                &:not(:last-child) {
                    margin-bottom: 56px;

                    @media #{$media-lg} {
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                }

                &.title {
                    margin-bottom: 90px;
                }

                &.subMenu {
                    display: none;

                    @media #{$media-lg} {
                        display: initial;
                    }

                    img {
                        width: 17px;
                        height: 12px;
                    }
                }

                a {
                    text-decoration: none;
                    color: $c-white;
                }
            }
        }

        .mainHeader-menu-mb {
            padding: 66px 64px 116px;
            font-family: "Corporate-S-Pro";
            font-weight: normal;
            font-size: 35px;
            text-transform: uppercase;
            background-color: $c-grey-3;

            @media #{$media-lg} {
                display: none;
                box-sizing: border-box;
                min-width: 294px;
                padding: 46px 36px;
                border-radius: 5px;
                position: absolute;
                font-size: 16px;
                text-transform: none;
                background-color: #fff;
            }

            &.active {
                display: block;
            }

            > li {
                &:not(:last-child) {
                    margin-bottom: 56px;

                    @media #{$media-lg} {
                        margin-bottom: 20px;
                    }
                }

                &.title {
                    margin-bottom: 90px;
                }

                &.subTitle {
                    display: none;
                    margin-bottom: 30px;
                    font-family: "Corporate-A-Condensed";
                    font-size: 25px;
                    line-height: 19px;
                    color: #000;

                    @media #{$media-lg} {
                        display: block;
                    }
                }

                &.subMenu-close {
                    position: absolute;
                    top: 18px;
                    right: 18px;
                    margin: 0;

                    img {
                        width: 13px;
                        height: 13px;
                    }
                }

                a {
                    text-decoration: none;
                    color: $c-white;

                    @media #{$media-lg} {
                        color: $c-grey-4;
                    }
                }
            }
        }
    }
}

.sBanner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 1165px;
    max-height: 1165px;
    background-image: url("../images/bg-header-mobile.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$media-lg} {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 606px;
        max-height: 606px;
        background-image: url("../images/bg-header.png");
        background-size: 1920px;
    }

    .sBanner-container-showroom {
        box-sizing: border-box;
        display: none;
        justify-content: flex-end;
        width: 100%;
        max-width: calc(1260px + 48px);
        padding: 0 24px;
        margin-top: 26px;

        @media #{$media-lg} {
            display: flex;
        }
    }

    .sBanner-container-video {
        margin-bottom: 40px;

        @media #{$media-lg} {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            max-width: 824px;
            margin-bottom: 230px;
        }
    }

    .sBanner-showroom {
        display: block;
        width: 323px;
        height: 54px;
        padding: 0;
        border: none;
        position: fixed;
        top: 163px;
        z-index: 2;
        background-color: transparent;
        background-image: url("../images/button-showroom.png");
        background-position: center;
        background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .sBanner-video {
        width: 227px;
        height: 58px;
        padding: 0;
        border: none;
        background-color: transparent;
        background-image: url("../images/button-video.png");
        background-position: center;
        background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;

        @media #{$media-lg} {
            width: 127px;
            height: 29px;
        }
    }

    .sBanner-modal {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.9);

        .sBanner-modal-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1178px;
            height: 100%;
            margin: 0 auto;

            .sBanner-modal-player {
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
            }

            .sBannner-modal-video {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $c-black;
            }

            .sBannner-modal-close {
                width: 64px;
                height: 64px;
                padding: 0;
                border: none;
                position: absolute;
                top: -80px;
                right: 16px;
                font-size: 48px;
                background-color: #ececec;
                cursor: pointer;

                @media #{$media-lg} {
                    width: 40px;
                    height: 40px;
                    top: 0px;
                    right: -56px;
                    font-size: 32px;
                }
            }
        }

        &.active {
            display: block;
        }
    }
}

.sArocs {
    padding-bottom: 718px;
    margin-bottom: 320px;
    position: relative;
    background-image: url("../images/bg-1-mobile.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 705px;

    @media #{$media-lg} {
        padding-bottom: 0px;
        margin-bottom: 72px;
        background-image: url("../images/bg-1.png");
        background-position: 50vw top;
        background-size: 976px 706px;
    }

    .box-text {
        padding: 50px 38px 104px;
        position: relative;

        @media #{$media-lg} {
            box-sizing: border-box;
            max-width: 572px;
            padding: 54px 54px 0px;
        }

        &::before {
            content: "";
            display: block;
            width: 81px;
            height: 138px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $c-blue-1;

            @media #{$media-lg} {
                width: 78px;
                height: 95px;
            }
        }

        h2 {
            position: relative;
            margin-bottom: 32px;
            z-index: 0;
            font-family: "Corporate-A-Cond-Pro";
            font-weight: normal;
            font-size: 88.19px;
            line-height: 0.942;

            @media #{$media-lg} {
                margin-bottom: 36px;
                font-size: 43px;
            }
        }

        h3 {
            margin-bottom: 24px;
            font-family: "Corporate-S";
            font-weight: bold;
            font-size: 35px;
            font-weight: 900;
            text-transform: uppercase;

            @media #{$media-lg} {
                margin-bottom: 16px;
                font-size: 20px;
            }
        }

        p {
            font-family: "Corporate-S-Pro";
            font-weight: normal;
            font-size: 31.5px;
            color: $c-grey-1;

            @media #{$media-lg} {
                font-size: 20px;
            }

            + p {
                margin-top: 44px;

                @media #{$media-lg} {
                    margin-top: 20px;
                }
            }

            + h3 {
                margin-top: 64px;

                @media #{$media-lg} {
                    margin-top: 32px;
                }
            }
        }
    }

    .box-truck {
        width: 98%;
        position: absolute;
        left: 1%;
        bottom: -320px;

        @media #{$media-lg} {
            width: 571px;
            top: 140px;
            left: 50%;
            margin-left: -50px;
            bottom: auto;
        }

        @media #{$media-xl} {
            margin-left: -110px;
        }

        img {
            width: 100%;
        }
    }
}

.sFeatures {
    padding: 120px 38px 44px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(255, 255, 255, 1)),
        color-stop(100%, rgba(242, 242, 242, 1))
    );
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );

    @media #{$media-lg} {
        padding: 40px 54px 44px;
        background: $c-white;
    }

    .sectionTitle {
        margin-bottom: 45px;

        @media #{$media-lg} {
            margin-bottom: 33px;
        }
    }

    p {
        margin-bottom: 32px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;

        @media #{$media-lg} {
            font-size: 20px;
        }
    }

    .sFeatures-select {
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        width: 100%;
        height: 70px;
        padding: 0 132px 0 46px;
        border: none;
        margin-bottom: 22px;
        font-family: "Corporate-S";
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: $c-white;
        background-color: $c-black;
        background-image: url("../images/icon-select.png");
        background-position: right center;
        background-size: 72px 70px;
        background-repeat: no-repeat;

        @media #{$media-lg} {
            display: none;
        }
    }

    .sFeatures-tabs {
        display: none;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 12px;
        background-color: $c-black;

        @media #{$media-lg} {
            display: flex;
        }

        .sFeatures-tabs-item {
            height: 42px;
            padding: 0 24px;
            border: none;
            font-family: "Corporate-S";
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            color: $c-white;
            background-color: $c-black;
            cursor: pointer;
            outline: none;

            &.active {
                background-color: $c-blue-1;
            }
        }
    }

    .sFeatures-panel {
        .sFeatures-panel-item {
            display: none;

            figure {
                @media #{$media-lg} {
                    max-height: 542px;
                }

                img {
                    display: block;
                    width: 100%;

                    @media #{$media-lg} {
                        display: initial;
                        width: auto;
                    }
                }
            }

            .text {
                box-sizing: border-box;
                padding: 54px 26px 96px;
                background-color: $c-white;

                @media #{$media-lg} {
                    max-width: 542px;
                    height: 542px;
                    padding: 32px 16px 72px 46px;
                    background-color: $c-grey-7;
                }

                h4 {
                    margin-bottom: 32px;
                    font-family: "Corporate-A-Cond-Pro";
                    font-weight: normal;
                    font-size: 50px;
                    line-height: 0.917;
                    text-transform: uppercase;

                    @media #{$media-lg} {
                        margin-bottom: 30px;
                        font-size: 45px;
                    }
                }

                p {
                    margin: 0;
                    font-family: "Corporate-S";
                    font-weight: 300;
                    font-size: 31.5px;
                    color: $c-grey-1;

                    @media #{$media-lg} {
                        max-height: 406px;
                        padding-right: 30px;
                        overflow-y: auto;
                        font-size: 20px;
                    }

                    /* width */
                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: $c-white;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: $c-blue-1;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: $c-blue-1;
                    }
                }

                strong {
                    font-weight: 600;
                }
            }

            &.active {
                display: block;

                @media #{$media-lg} {
                    display: flex;
                }
            }
        }
    }
}

.sTechnical {
    padding: 44px 38px 32px;
    background: rgba(242, 242, 242, 1);

    @media #{$media-lg} {
        padding: 44px 38px 72px;
        background: rgba(255, 255, 255, 1);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
        background: -webkit-gradient(
            left top,
            left bottom,
            color-stop(0%, rgba(255, 255, 255, 1)),
            color-stop(100%, rgba(242, 242, 242, 1))
        );
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );
    }

    .sectionTitle {
        margin-bottom: 38px;

        @media #{$media-lg} {
            margin-bottom: 25px;
        }

        &.subTitle {
            margin-bottom: 64px;
            font-size: 52px;

            @media #{$media-lg} {
                font-size: 35px;
                margin-bottom: 50px;
            }
        }
    }

    p {
        margin-bottom: 30px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;

        @media #{$media-lg} {
            margin-bottom: 58px;
            font-size: 20px;
        }
    }

    .sTechnical-container {
        @media #{$media-lg} {
            display: flex;
        }

        .sTechnical-figureBox {
            figure {
                width: 100%;

                @media #{$media-lg} {
                    min-width: 632px;
                    max-width: 632px;
                }

                img {
                    display: block;
                    width: 100%;
                }
            }

            small {
                display: inline-block;
                margin-top: 10px;
                font-family: "Corporate-S";
                font-size: 22px;
                font-style: italic;
                color: $c-grey-2;

                @media #{$media-lg} {
                    font-size: 12px;
                }
            }
        }

        .sTechnical-slideBox {
            box-sizing: border-box;
            width: 100%;
            padding: 58px 0 0;

            @media #{$media-lg} {
                max-width: calc(100% - 632px);
                padding: 0 0 0 32px;
            }
        }

        .sTechnical-slide {
            .sTechnical-slide-item {
                strong {
                    display: block;
                    margin-bottom: 26px;
                    font-family: "Corporate-S";
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: $c-black;

                    @media #{$media-lg} {
                        font-size: 15px;
                    }
                }

                table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 4px 0px;

                    td {
                        padding: 9px 0;
                        border-bottom: 1px solid #d5d5d6;
                        font-size: 22px;
                        line-height: 1.2;

                        @media #{$media-lg} {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            font-size: 11px;
                        }

                        &:not(:first-child) {
                            padding-right: 4px;
                            padding-left: 4px;
                        }
                    }
                }
            }

            .slick-arrow {
                width: 30px;
                height: 30px;
                top: auto;
                bottom: -64px;
                z-index: 1;

                @media #{$media-lg} {
                    width: 23px;
                    height: 23px;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url("../images/icon-arrow-slide.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: 1;
                }

                &.slick-next {
                    right: 0px;
                }

                &.slick-prev {
                    left: 0px;

                    &::before {
                        transform: rotate(180deg);
                    }
                }
            }

            .slick-dots {
                bottom: -40px;

                @media #{$media-lg} {
                    bottom: -45px;
                }

                li {
                    width: 50px;
                    height: 8px;
                    margin: 0;

                    @media #{$media-lg} {
                        width: 38px;
                        height: 6px;
                    }

                    &:not(:last-child) {
                        margin-right: 3px;

                        @media #{$media-lg} {
                            margin-right: 4px;
                        }
                    }

                    button {
                        width: 50px;
                        height: 8px;
                        padding: 0;
                        background-color: $c-white;

                        @media #{$media-lg} {
                            width: 38px;
                            height: 6px;
                        }

                        &::before {
                            content: none;
                        }
                    }

                    &.slick-active {
                        button {
                            background-color: $c-blue-1;
                        }
                    }
                }
            }
        }

        .sTechnical-download {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            max-width: 300px;
            height: 62px;
            padding: 0px;
            margin: 96px auto 0;
            text-decoration: none;
            text-align: center;
            color: $c-white;
            background-color: $c-blue-1;

            @media #{$media-lg} {
                max-width: 240px;
                height: 50px;
                margin-top: 86px;
            }

            strong,
            span {
                display: block;
                font-family: "Corporate-S";
                font-size: 19.5px;
                text-transform: uppercase;

                @media #{$media-lg} {
                    font-size: 15.4px;
                }
            }

            strong {
                font-weight: bold;
            }
        }
    }
}

.sCustom {
    padding: 0 0 77px;

    @media #{$media-lg} {
        padding: 34px 54px 40px;
    }

    .sectionTitle {
        margin-bottom: 60px;

        @media #{$media-lg} {
            margin-bottom: 36px;
        }
    }

    .sCustom-container {
        @media #{$media-lg} {
            display: flex;
        }

        figure {
            box-sizing: border-box;
            width: 100%;
            padding: 32px 38px 80px;
            background: rgba(242, 242, 242, 1);

            @media #{$media-lg} {
                min-width: 364px;
                max-width: 364px;
                padding: 0;
                background: transparent;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .sCustom-text {
            padding: 64px 34px 0px;

            @media #{$media-lg} {
                padding: 26px 0 0 70px;
            }

            p {
                margin-bottom: 52px;
                font-family: "Corporate-S";
                font-weight: 300;
                font-size: 31.5px;
                color: $c-grey-1;

                @media #{$media-lg} {
                    margin-bottom: 15px;
                    font-size: 20px;
                }
            }

            ul {
                padding-left: 30px;
                list-style: initial;
                font-family: "Corporate-S";
                font-weight: 300;
                font-size: 36.27px;
                line-height: 1.5;
                color: $c-grey-1;

                @media #{$media-lg} {
                    padding-left: 20px;
                    font-size: 20px;
                }

                li {
                    &::marker {
                        color: $c-blue-1;
                    }
                }
            }
        }
    }
}

.sTag {
    padding: 77px 34px 96px;

    @media #{$media-lg} {
        padding: 40px 54px 80px;
    }

    .sectionTitle {
        margin-bottom: 44px;

        @media #{$media-lg} {
            margin-bottom: 34px;
        }
    }

    p {
        margin-bottom: 45px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;

        @media #{$media-lg} {
            margin-bottom: 32px;
            font-size: 20px;
        }
    }

    .download {
        text-align: center;

        @media #{$media-lg} {
            text-align: left;
        }

        a {
            display: inline-block;
            padding: 16px 108px;
            text-align: center;
            font-size: 22px;
            text-decoration: none;
            color: $c-white;
            background-color: $c-blue-1;

            @media #{$media-lg} {
                padding: 10px 82px;
                font-size: 16.5px;
            }

            strong,
            span {
                display: block;
            }

            strong {
                font-family: "Corporate-S";
                font-weight: bold;
            }

            span {
                font-family: "Corporate-S-Pro";
                font-weight: normal;
            }
        }
    }
}

.sServices {
    padding: 60px 38px 74px;
    background: rgba(255, 255, 255, 1);
    // background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    // background: -webkit-gradient(
    //     left top,
    //     left bottom,
    //     color-stop(0%, rgba(255, 255, 255, 1)),
    //     color-stop(100%, rgba(245, 245, 245, 1))
    // );
    // background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    // background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    // background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );

    @media #{$media-lg} {
        padding: 78px 54px 94px;
    }

    .sectionTitle {
        margin-bottom: 52px;

        @media #{$media-lg} {
            margin-bottom: 46px;
        }
    }

    .sServices-subTitle {
        margin-bottom: 54px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;
        
        @media #{$media-lg} {
            margin-bottom: 32px;
            font-size: 20px;
        }
    }

    .accordion {
        &:not(:last-child) {
            margin-bottom: 18px;
        }

        .accordion-title {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: relative;
                margin-right: 12px;
                background-color: $c-blue-1;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 4px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -2px;
                    margin-left: -8px;
                    background-color: $c-white;
                }

                &::after {
                    transform: rotate(90deg);
                }
            }

            h3 {
                font-family: "Corporate-A-Condensed";
                font-weight: normal;
                font-size: 41px;
            }
        }

        .accordion-body {
            display: none;

            @media #{$media-lg} {
                grid-auto-columns: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0px 80px;
            }

            &.full {
                grid-template-columns: 1fr;
            }

            .accordion-item {
                font-family: "Corporate-S-Pro";
                font-weight: normal;
                font-size: 31.5px;
                text-align: center;
                color: $c-grey-1;

                @media #{$media-lg} {
                    display: flex;
                    flex-direction: column;
                }

                &:not(:last-child) {
                    margin-bottom: 130px;

                    @media #{$media-lg} {
                        margin-bottom: 0;
                    }
                }

                figure {
                    margin: 0 auto 64px;

                    @media #{$media-lg} {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        max-width: 320px;
                        height: 132px;
                        margin-bottom: 40px;
                    }

                    img {
                        @media #{$media-lg} {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }

                p {
                    margin-bottom: 36px;
                    font-size: 31.5px;
                    text-align: left;

                    @media #{$media-lg} {
                        font-size: 20px;
                    }

                    strong {
                        font-weight: bold;
                    }
                }

                a {
                    display: inline-block;
                    padding: 15px 43px;
                    margin: auto auto 0;
                    font-family: "Corporate-S";
                    font-weight: bold;
                    font-size: 19px;
                    text-decoration: none;
                    color: $c-white;
                    background-color: $c-blue-1;

                    @media #{$media-lg} {
                        padding: 6px 27px;
                        margin-top: auto;
                        font-size: 11.5px;
                    }
                }
            }
        }

        &.active {
            .accordion-title {
                margin-bottom: 68px;

                @media #{$media-lg} {
                    margin-bottom: 42px;
                }

                span {
                    &::after {
                        content: none;
                    }
                }
            }

            .accordion-body {
                display: block;
                margin-bottom: 100px;

                @media #{$media-lg} {
                    display: grid;
                    margin-bottom: 64px;
                }
            }
        }
    }
}

.sGallery {
    padding: 72px 0 96px;
    background-color: $c-black;

    @media #{$media-lg} {
        padding: 40px 0 115px;
    }

    .sGallery-container {
        padding: 0 38px;

        @media #{$media-lg} {
            padding: 0 0;
        }
    }

    .sectionTitle {
        margin-bottom: 48px;

        @media #{$media-lg} {
            margin-bottom: 38px;
        }
    }

    p {
        margin-bottom: 50px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;

        @media #{$media-lg} {
            margin-bottom: 34px;
            font-size: 20px;
        }
    }

    .sGallery-slide {
        width: 100%;
        max-width: 1107px;
        margin: 0 auto;

        .sGallery-item {
            width: 100%;
            height: 784px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            @media #{$media-lg} {
                height: 637px;
            }

            &.video {
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    display: block;
                    width: 360px;
                    height: 359px;
                    background-image: url("../images/icon-video.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                iframe,
                video {
                    display: none;
                    width: 100%;
                    height: 100%;
                }

                &.playing {
                    background-image: none;

                    iframe,
                    video {
                        display: block;
                    }

                    &::after {
                        content: none;
                    }
                }
            }
        }

        .slick-arrow {
            width: 23px;
            height: 23px;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url("../images/icon-arrow-slide.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 1;
            }

            &.slick-next {
                right: -35px;
            }

            &.slick-prev {
                left: -35px;

                &::before {
                    transform: rotate(180deg);
                }
            }
        }

        .slick-dots {
            bottom: -52px;

            @media #{$media-lg} {
                bottom: -45px;
            }

            li {
                width: 33px;
                height: 6px;
                margin: 0;

                @media #{$media-lg} {
                    width: 51px;
                }

                &:not(:last-child) {
                    margin-right: 3px;

                    @media #{$media-lg} {
                        margin-right: 4px;
                    }
                }

                button {
                    width: 33px;
                    height: 6px;
                    padding: 0;
                    background-color: $c-white;

                    @media #{$media-lg} {
                        width: 51px;
                    }

                    &::before {
                        content: none;
                    }
                }

                &.slick-active {
                    button {
                        background-color: $c-blue-1;
                    }
                }
            }
        }
    }
}

.sDealers {
    padding: 80px 34px 90px;

    @media #{$media-lg} {
        padding: 64px 54px 115px;
    }

    .sectionTitle {
        margin-bottom: 72px;

        @media #{$media-lg} {
            margin-bottom: 64px;
        }
    }

    p {
        margin-bottom: 44px;
        font-family: "Corporate-S";
        font-weight: 300;
        font-size: 31.5px;
        color: $c-grey-1;

        @media #{$media-lg} {
            margin-bottom: 32px;
            font-size: 20px;
        }

        a {
            font-weight: 500;
            text-decoration: none;
            color: $c-blue-1;
        }
    }

    .sDealers-tabs {
        display: flex;
        margin-bottom: 24px;

        button,
        a {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 20px;
            border: 1px solid $c-blue-1;
            font-size: 31.5px;
            text-decoration: none;
            text-align: center;
            color: $c-blue-1;
            background-color: transparent;
            cursor: pointer;

            @media #{$media-lg} {
                width: 100%;
                max-width: 195px;
                padding: 15px 10px;
                font-size: 16px;
            }

            &:not(:last-child) {
                @media #{$media-lg} {
                    margin-right: 20px;
                    font-size: 16px;
                }
            }

            &.active {
                color: $c-white;
                background-color: $c-blue-1;
            }
        }
    }

    .sDealers-panels {
        .sDealers-panels-item {
            display: none;

            input {
                box-sizing: border-box;
                width: 100%;
                height: 64px;
                padding: 0 24px;
                border: 1px solid #e5e5e5;
                font-family: "Corporate-S";
                font-weight: 300;
                font-size: 24px;
                color: $c-grey-1;
                text-transform: uppercase;

                @media #{$media-lg} {
                    max-width: 624px;
                    height: 50px;
                    font-size: 16px;
                }
            }

            select {
                -moz-appearance: none; /* Firefox */
                -webkit-appearance: none; /* Safari and Chrome */
                appearance: none;
                box-sizing: border-box;
                width: 100%;
                height: 64px;
                padding: 0 60px 0 24px;
                border: 1px solid #e5e5e5;
                font-family: "Corporate-S";
                font-weight: 300;
                font-size: 24px;
                color: $c-grey-1;
                text-transform: uppercase;
                background-image: url("../images/icon-select-2.gif");
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 60px 60px;

                @media #{$media-lg} {
                    max-width: 300px;
                    height: 50px;
                    font-size: 16px;
                    padding: 0 48px 0 24px;
                    background-size: 48px 48px;
                }

                &:not(:last-child) {
                    margin-bottom: 24px;

                    @media #{$media-lg} {
                        margin-right: 24px;
                        margin-bottom: 0;
                    }
                }
            }

            &.active {
                display: block;

                &.flex {
                    @media #{$media-lg} {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .sDealers-list-map {
        display: none;
        margin-top: 40px;

        .sDealers-list {
            box-sizing: border-box;
            width: 100%;
            max-height: 520px;
            border: 1px solid #e5e5e5;
            margin-bottom: 24px;
            overflow: auto;

            @media #{$media-lg} {
                max-width: 470px;
                margin-right: 24px;
                margin-bottom: 0;
            }

            li {
                padding: 20px;
                position: relative;
                font-weight: normal;
                cursor: pointer;

                &:not(:last-child) {
                    border-bottom: 1px solid #e5e5e5;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 12px;
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    margin-top: -6px;
                    background-image: url("../images/icon-arrow-right.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                h6 {
                    margin-bottom: 15px;
                    font-weight: normal;
                    font-size: 31.5px;
                    text-transform: uppercase;

                    @media #{$media-lg} {
                        font-size: 20px;
                    }
                }

                p {
                    margin-bottom: 5px;
                    font-size: 31.5px;

                    @media #{$media-lg} {
                        font-size: 20px;
                    }
                }

                a {
                    font-size: 31.5px;
                    color: $c-blue-1;
                    text-decoration: none;

                    @media #{$media-lg} {
                        font-size: 20px;
                    }
                }
            }
        }

        .sDealers-map {
            width: 100%;

            img {
                display: block;
                width: 100%;
            }
        }

        &.active {
            display: block;

            @media #{$media-lg} {
                display: flex;
            }
        }
    }
}

.mainFooter {
    padding: 78px 38px 120px;
    background-color: $c-black;

    @media #{$media-lg} {
        padding: 42px 54px 26px;
    }

    h4 {
        margin-bottom: 55px;
        font-size: 35px;
        text-transform: uppercase;
        color: $c-white;

        @media #{$media-lg} {
            margin-bottom: 30px;
            font-size: 14px;
        }

        &.small {
            font-size: 31px;

            @media #{$media-lg} {
                font-size: 13px;
            }
        }
    }

    .mainFooter-mb {
        padding-bottom: 60px;
        border-bottom: 1px solid $c-grey-5;
        font-family: "Corporate-S-Pro";
        font-weight: normal;
        text-transform: uppercase;
        color: $c-white;

        @media #{$media-lg} {
            padding-bottom: 40px;
        }

        ul {
            font-size: 30px;

            @media #{$media-lg} {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 11px;
            }

            > li {
                &:not(:last-child) {
                    margin-bottom: 36px;

                    @media #{$media-lg} {
                        margin-bottom: 0;
                    }
                }

                a {
                    text-decoration: none;
                    color: $c-white;
                }
            }
        }
    }

    .mainFooter-social {
        padding-top: 52px;
        padding-bottom: 92px;
        border-bottom: 1px solid $c-grey-5;

        @media #{$media-lg} {
            padding-top: 45px;
            padding-bottom: 45px;
        }

        .socialContainer {
            @media #{$media-lg} {
                display: flex;
                align-items: center;
            }
        }

        .social {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 80px;

                @media #{$media-lg} {
                    margin-right: 72px;
                    margin-bottom: 0;
                }
            }

            figure {
                display: flex;
                align-items: center;
                padding-right: 50px;

                @media #{$media-lg} {
                    padding-right: 14px;
                }

                img {
                    max-width: 60px;

                    @media #{$media-lg} {
                        max-width: 22px;
                    }
                }
            }

            ul {
                padding-left: 32px;
                border-left: 3px solid $c-grey-5;

                @media #{$media-lg} {
                    display: flex;
                    align-items: center;
                    padding-left: 0;
                    border-left: none;
                }

                > li {
                    &:not(:last-child) {
                        margin-bottom: 48px;

                        @media #{$media-lg} {
                            padding-right: 9px;
                            margin-right: 9px;
                            margin-bottom: 0;
                            border-right: 1px solid $c-grey-5;
                        }
                    }

                    a {
                        font-family: "Corporate-S";
                        font-weight: normal;
                        font-size: 31.5px;
                        text-decoration: none;
                        color: $c-grey-6;

                        @media #{$media-lg} {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .mainFooter-brand {
        padding-top: 70px;

        @media #{$media-lg} {
            display: flex;
            padding-top: 32px;
        }

        h4 {
            @media #{$media-lg} {
                margin-bottom: 0;
            }
        }

        ul {
            padding-bottom: 70px;
            border-bottom: 1px solid $c-grey-5;
            margin-bottom: 44px;
            font-family: "Corporate-S";
            font-weight: 300;
            font-size: 35px;
            text-transform: uppercase;

            @media #{$media-lg} {
                display: flex;
                align-items: center;
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
                font-size: 13px;
            }

            > li {
                @media #{$media-lg} {
                    padding-left: 16px;
                    margin-left: 16px;
                    border-left: 1px solid $c-grey-5;
                }

                &:not(:last-child) {
                    margin-bottom: 52px;

                    @media #{$media-lg} {
                        margin-bottom: 0;
                    }
                }

                a {
                    color: $c-grey-6;
                    text-decoration: none;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            border: none;
            margin: 0 auto;
            font-family: "Corporate-S";
            font-size: 65px;
            color: $c-white;
            background-color: transparent;

            @media #{$media-lg} {
                margin-right: 0;
                font-size: 13px;
            }

            img {
                width: 64px;
                margin-right: 32px;

                @media #{$media-lg} {
                    width: 14px;
                    margin-right: 6px;
                }
            }
        }
    }
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);

    .modal-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1178px;
        height: 100%;
        margin: 0 auto;

        .modal-player-image {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;
        }

        .modal-text {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 20px;
            position: absolute;
            overflow: auto;
            font-family: "Corporate-S";
            background-color: $c-white;

            p {
                margin-bottom: 10px;
            }

            strong {
                font-weight: bold;
            }

            table {
                margin: 5px;
                background-color: #fff;
                color: #000;
                font-size: 12px;
                text-align: left;

                th {
                    background-color: #ccc;
                    text-align: center;
                    border: 1px solid #777;
                    font-weight: bold;
                    padding: 10px;
                }

                td {
                    border: 1px solid #ccc;
                    padding: 10px;
                }
            }
        }

        .modal-video {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $c-black;
        }

        .modal-image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $c-black;
        }

        .modal-close {
            width: 64px;
            height: 64px;
            padding: 0;
            border: none;
            position: absolute;
            top: -80px;
            right: 16px;
            font-size: 48px;
            background-color: #ececec;
            cursor: pointer;

            @media #{$media-lg} {
                width: 40px;
                height: 40px;
                top: 0px;
                right: -56px;
                font-size: 32px;
            }
        }
    }

    &.text {
        .modal-container {
            box-sizing: border-box;
            padding: 0 120px 0 70px;

            @media #{$media-lg} {
                padding: 0;
            }

            .modal-player-image {
                padding: 0;
                height: 90vh;

                @media #{$media-lg} {
                    height: 0;
                    padding-bottom: 56.25%;
                }
            }

            .modal-close {
                width: 64px;
                height: 64px;
                padding: 0;
                border: none;
                position: absolute;
                top: 0px;
                right: -84px;
                font-size: 48px;
                background-color: #ececec;
                cursor: pointer;

                @media #{$media-lg} {
                    width: 40px;
                    height: 40px;
                    top: 0px;
                    right: -56px;
                    font-size: 32px;
                }
            }
        }
    }

    &.active {
        display: block;
    }
}

.cookies {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    &.hidden {
        display: none;
    }

    .container {
        box-sizing: border-box;
        padding: 20px 30px;
        box-shadow: 0 0 1px;
        background-color: $c-white;
        font-weight: 600;
        color: $c-grey-1;

        span {
            font-size: 20px;
        }

        p {
            margin: 16px 0 0 0;
            font-size: 12px;

            a {
                text-decoration: none;
                color: $c-blue-1;
            }
        }

        button {
            padding: 6px 12px;
            border: none;
            margin-top: 16px;
            font-size: 0.75rem;
            color: $c-white;
            background-color: $c-blue-1;
        }
    }
}
